html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  color: #ffffff;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #666666;
  position: relative;
  z-index: 0;
  padding-top: 38px;
  padding-bottom: 133px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-list {
  list-style: none;
  display: flex;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  gap: 35px;
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

.menu-link:hover {
  text-decoration-line: underline;
  text-shadow: 0 1px #b59f5b;
}

.header-logo {
  position: relative;
  width: 180px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.header-description {
  width: 690px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  margin: 100px auto 0;
}

.heading {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.trends {
  width: 100%;
  margin-top: 56px;
  font-family: OpenSans, Arial, sans-serif;
}

.trends-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.trends-title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  padding-top: 8px;
}

.wrp-trends {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 4px;
  margin-top: 30px;
}

.wrp-trend {
  z-index: 1;
  position: relative;
  margin: 24px;
  outline: 3px solid #857547;
  outline-offset: 32px;
}

.trend {
  background-color: #606260;
  position: relative;
  height: 250px;
  display: flex;
  align-items: end;
  padding: 34px;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: 0;
}

.trend-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.trend-pl {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-ch {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-tr {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-le {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrp-main {
  max-width: 1200px;
  margin: 64px auto 0;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.content-news {
  width: 778px;
  box-sizing: border-box;
}

.article {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.post-image {
  width: 381px;
  margin-right: 30px;
  box-sizing: border-box;
}

.article:nth-child(n+7) {
  margin-bottom: 0;
}

.last-post {
  box-sizing: border-box;
}

.menu-post {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
}

.menu-post-link:hover {
  text-decoration-line: underline;
  text-shadow: 0 1px #b59f5b;
}

.menu-post-item:nth-child(n+2) {
  margin-left: 19px;
}

.last-post-header {
  font-family: OpenSans, Arial, sans-serif;
  line-height: 26px;
}

.h-title {
  margin: 0;
}

.article-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
}

.article-title:hover {
  text-shadow: 0 1px #b59f5b;
}

.wrp-time {
  display: flex;
}

.article-datetime {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  position: relative;
  margin-top: 20px;
}

.article-author {
  display: block;
  margin-left: 14px;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  position: relative;
  margin-top: 20px;
}

.post-description {
  font-weight: 400;
  color: #000000;
  text-align: left;
  line-height: 22px;
  box-sizing: border-box;
  margin-top: 30px;
}

.post-description-text {
  margin: 0;
  font-size: 17px;
  word-spacing: -1px;
  text-align: justify;
}

.sidebar {
  width: 272px;
  font-family: OpenSans, Arial, sans-serif;
  box-sizing: border-box;
}

.section-title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

.section-title::after {
  content: '';
  display: block;
  width: 66px;
  margin: 0 auto;
  border-bottom: 3px solid #e1d9bd;
  padding-top: 14px;
}

.section-posts {
  margin-bottom: 60px;
}

.section-new-post {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 21px;
  margin-top: 22px;
}

.section-new-post:nth-child(1) {
  margin-top: 20px;
}

.section-image {
  width: 70px;
  height: 70px;
}

.section-inner {
  margin-left: 18px;
  box-sizing: border-box;
}

.section-datetime {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #a9a9a9;
}

.subject {
  font-size: 14px;
  margin: 0;
}

.section-title-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.1;
}

.section-title-link:hover {
  text-shadow: 0 1px #b59f5b;
}

.form {
  display: flex;
}

.search-form {
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.text-hidden {
  display: none;
}

.search-form__txt {
  border: none;
  width: 220px;
  height: 50px;
  outline: none;
  font-size: 13px;
  padding-left: 18px;
  padding-right: 10px;
  background-color: #f4f7f6;
}

.search-form__txt:hover {
  border-bottom: 1px solid #ebe7d7;
}

.search-form__btn {
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #b59f5b;
  background-size: 18px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

.section-field {
  margin-top: 57px;
  box-sizing: border-box;
}

.forms {
  margin-top: 16px;
}

.mail-form {
  width: 100%;
}

.field {
  border: none;
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 13px;
  padding-left: 18px;
  padding-right: 10px;
  background-color: #f4f7f6;
  box-sizing: border-box;
}

.field:hover {
  border-bottom: 1px solid #ebe7d7;
}

.button {
  border: none;
  background-color: #b59f5b;
  height: 50px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  margin-top: 17px;
  box-sizing: border-box;
}

.button:hover {
  border-top: 1px solid #b9b29b;
}

.section-tag {
  margin-top: 56px;
  box-sizing: border-box;
}

.section-tags {
  font-size: 12px;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  gap: 6px;
  padding-left: 0;
  margin-top: 16px;
}

.section-tags-list {
  border: 3px solid #eeeeee;
  padding: 3px 15px;
}

.section-tags-list:nth-child(3n+1) {
  margin-left: 0;
}

.section-themes {
  margin-top: 61px;
  box-sizing: border-box;
}

.section-items {
  list-style-type: none;
  padding: 0;
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.section-items-list {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 14px;
  padding-top: 9px;
}

.section-items-link:hover {
  text-shadow: 0 1px #b59f5b;
}

.items-number {
  vertical-align: super;
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
}

.cards {
  max-width: 1200px;
  font-family: OpenSans, Arial, sans-serif;
  margin: 0 auto 64px;
}

.wrp-cards {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  margin-top: 28px;
  padding: 0 39px;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card-img {
  margin-bottom: 20px;
}

.card-content {
  outline: 3px solid #d6c9a3;
  outline-offset: 21px;
  padding-top: 30px;
  margin-top: -30px;
  flex-grow: 1;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  margin: 0;
}

.card-text {
  font-size: 15px;
  font-weight: 400;
  color: #494849;
}

.card-text:hover {
  text-shadow: 0 1px #0f0d0e;
}

.card-text-link {
  color: #b59f5b;
  text-shadow: none;
}

.card-text-link:hover {
  text-decoration-line: underline;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.cost {
  display: flex;
  flex-direction: column;
}

.sale {
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  text-decoration-line: line-through;
}

.worth {
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
}

.card-button {
  width: 140px;
  height: 48px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-button:hover {
  border-top: 1px solid #b9b29b;
}

.wrp-footer {
  max-width: 1200px;
  margin: 95px auto 40px;
}

.footer {
  box-sizing: border-box;
}

.wrapper-socials {
  padding: 0 15px;
  background-color: #f4f7f6;
  display: flex;
}

.socials-link-dribbble {
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
}

.socials-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
}

.socials-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  display: block;
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  box-sizing: border-box;
  margin: 30px auto;
  gap: 26px;
}

.tip {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  text-align: center;
  margin-top: 74px;
}

.menu-burger {
  display: none;
}

@media (max-width: 1199px) and (min-width: 641px) {
  .header {
    padding-bottom: 114px;
  }

  .menu {
    padding-left: 34px;
    justify-content: normal;
  }

  .header-logo {
    width: 157px;
  }

  .menu-list {
    display: none;
  }

  .menu-burger {
    position: absolute;
    right: 32px;
    top: 46px;
    background-image: url("../svg/burger-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  /* .menu-burger {
    width: 23px;
    height: 19px;
    position: relative;
    margin-right: 423px;
  }

  .menu-burger {
    position: relative;
    border: none;
    background: transparent;
    width: 23px;
    height: 19px;
    margin-top: -10px;
  }

  .menu-burger::before {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
  }

  .menu-burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    margin-top: 15px;
  }

  .menu-burger::before {
    box-shadow: 0 7px 0 #ffffff;
  } */

  .header-description {
    margin: 87px auto 0;
  }

  .heading {
    line-height: 1.4;
    font-size: 40px;
    margin: 0 20px;
  }

  .wrp-trends {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    margin-top: 21px;
  }

  .trends {
    margin-top: 45px;
  }

  .trends-title {
    font-size: 18px;
  }

  /* .trend {
    height: 180px;
  } */

  .trend-title {
    font-size: 17px;
  }

  .wrp-main {
    width: 698px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 39px;
  }

  .content {
    flex-wrap: nowrap;
    justify-content: normal;
    gap: 36px;
  }

  .content-news {
    width: 391px;
  }

  .article {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .article::after {
    content: '';
    display: block;
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid #eeeeee;
    padding-top: 19px;
  }

  .post-image {
    width: 391px;
    margin-right: 0;
  }

  .menu-post {
    margin-top: 16px;
  }

  .article-title {
    font-size: 17px;
  }

  .h-title {
    margin-top: 6px;
    line-height: 0.9;
  }

  .wrp-time {
    margin-top: 9px;
  }

  .post-description {
    margin-top: 24px;
  }

  .post-description-text {
    font-size: 17.5px;
  }

  .post-description-text-down {
    margin-top: 8px;
  }

  .sidebar {
    width: 270px;
  }

  .section-title {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .section-title::after {
    padding-top: 9px;
  }

  .section-image {
    height: 70px;
  }

  .section-new-post {
    margin-top: 22px;
  }

  .section-title-link {
    line-height: 1.3;
  }

  .section-field {
    margin-top: 53px;
  }

  .forms {
    margin-top: -8px;
  }

  .section-tags {
    gap: 5px;
    margin-top: 22px;
  }

  .section-items {
    margin-top: -15px;
  }

  .cards {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .trends-title {
    font-size: 17px;
  }

  .wrp-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    padding: 0 19px;
  }

  .card-img {
    object-fit: cover;
    width: 290px;
    height: 229px;
  }

  .card-title {
    font-size: 17px;
  }

  .card-third {
    margin-top: 48px;
  }

  .wrp-footer {
    max-width: 100%S;
    margin-left: 35px;
    margin-right: 35px;
    margin: 84px auto 40px;
  }

  .tip {
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  body {
    margin: 0;
    font-family: OpenSans, Arial, sans-serif;
  }

  .header {
    /* max-width: 360px;
    padding-bottom: 210px; */
    width: 360px;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px 22px;
  }

  .header-logo {
    width: 270px;
    margin-top: 215px;
    margin-left: 9px;
  }

  .menu {
    display: block;
    /* justify-content: normal; */
  }

  .menu-list {
    display: none;
  }

  .menu-burger {
    /* position: relative;
    border: none;
    background: transparent; */
    position: absolute;
    right: 15px;
    top: 30px;
    background-image: url("../svg/burger-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /* margin-top: -265px;
    margin-left: 6px;
    margin-right: 423px; */
  }

  /* .menu-burger::before {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 23px;
    height: 3px;
    background: #ffffff;
  }

  .menu-burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 23px;
    height: 3px;
    background: #ffffff;
    margin-top: 15px;
  }

  .menu-burger::before {
    box-shadow: 0 7px 0 #ffffff;
  } */

  .header-description {
    width: 360px;
    margin-top: 30px;
    margin-bottom: 200px;
  }

  .heading {
    width: 280px;
    box-sizing: border-box;
    text-align: center;
    font-size: 26px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.4;
  }

  .trends {
    width: 360px;
  }

  .wrp-trends {
    display: flex;
    flex-wrap: wrap;
  }

  .wrp-trend {
    outline: none;
    border: 3px solid #b59f5b;
    padding: 30px 20px;
    margin: 26px 0 0;
  }

  .trends-title {
    font-size: 16px;
  }

  .trends {
    margin-top: 37px;
  }

  .trend {
    height: 230px;
    width: 100%;
    padding: 88px 15px 15px;
  }

  .trend:nth-child(1n+1) {
    margin-bottom: 4px;
  }

  .trend-title {
    font-size: 16px;
  }

  .wrp-main {
    width: 360px;
    margin: 37px 0 0;
  }

  .content {
    flex-direction: column;
  }

  .article {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 360px;
    margin-bottom: 55px;
  }

  .post-image {
    width: 330px;
  }

  .menu-post {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 13.6px;
  }

  .last-post-header {
    margin-top: -8px;
    line-height: 1.0;
  }

  .h-title {
    box-sizing: border-box;
    width: 330px;
  }

  .article-title {
    font-size: 16px;
  }

  .post-description {
    margin-top: 12px;
  }

  .post-description-text {
    font-size: 15px;
    text-align: start;
  }

  .post-description-text-down {
    margin-top: 20px;
  }

  .sidebar {
    width: 360px;
    margin-top: 7px;
  }

  .section-title {
    margin-left: -32px;
    font-size: 16px;
    margin-bottom: 26px;
  }

  .section-title::after {
    content: '';
    display: block;
    width: 66px;
    margin: 0 auto;
    border-bottom: 3px solid #e1d9bd;
    margin-top: -5px;
  }

  /* .section-new-post:nth-child(1) {
    margin-top: 26px;
  } */

  .section-new-post {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .subject-first {
    margin-top: 6px;
  }

  .search-form {
    width: 283px;
  }

  .search-form__txt {
    width: 100%;
  }

  .search-form__btn {
    height: 48px;
    width: 48px;
  }

  .section-field {
    margin-top: 35px;
  }

  .forms {
    width: 330px;
  }

  .mail-form {
    display: block;
  }

  .button {
    display: block;
    margin-top: 14px;
  }

  .section-tag {
    margin-top: 37px;
  }

  .section-themes {
    margin-top: 44px;
  }

  .section-items {
    margin-top: -11px;
  }

  .cards {
    width: 360px;
    margin-top: 44px;
  }

  .wrp-cards {
    flex-direction: column;
    justify-content: normal;
    gap: 50px;
    padding: 0 37px;
  }

  .card {
    width: 281px;
  }

  .card-img {
    height: 285px;
    object-fit: cover;
  }

  .worth {
    margin-top: -5px;
  }

  .worth-second {
    margin-top: 15px;
  }

  .wrp-footer {
    width: 360px;
    margin: 67px auto 40px;
  }

  .tip {
    margin-top: 49px;
  }
}

.popup-form {
  background: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.popup {
  position: relative;
  background-color: #ffffff;
  font-family: OpenSans, Arial, sans-serifns-serif;
  width: 390px;
  height: 590px;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
}

.popup-form::after {
  content: "";
  position: absolute;
  /* height: 100%;
  width: 100vw; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.popup-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 97px;
  margin-top: 17px;
}

.popup-title::after {
  content: "";
  display: block;
  border-bottom: 3px solid #e1d9bd;
  width: 65px;
  margin-left: 33px;
  margin-top: 9px;
}

.popup-txt {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 25px;
}

.popup-list {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding-left: 18px;
  padding-bottom: 5px;
  margin: 0;
  font-family: inherit;
  font-size: 13px;
  appearance: none;
  background-color: #f3f5f4;
  border: none;
  color: #939594;
  font-weight: 400;
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 12px center;
  outline: none;
}

.etxt {
  margin-top: 30px;
  margin-bottom: 5px;
}

.popup-radio:checked~.popup-radio-txt::before {
  background-image: url("../svg/form-circle.svg");
}

.popup-radio {
  display: none;
}

.popup-radio-txt {
  font-size: 14px;
  margin-right: 12px;
}

.popup-radio-txt::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  margin-right: 4px;
}

/* .popup-radio:nth-child(2) {
  margin-left: 10px;
} */

.popup-label {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 5px;
}

/* .popup-label:nth-child(n+2) {
  margin-left: 2px;
} */

.textarea {
  width: 100%;
  height: 125px;
  font-size: 14px;
  font-weight: 400;
  color: #939594;
  background-color: #f3f5f4;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  margin-bottom: 23px;
  outline: none;
  resize: none;
}

.popup-button {
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  box-sizing: border-box;
  border: none;
}